
@{
    ViewData["Title"] = "PageNotFound";
    Layout = "~/Views/Shared/_newsAmpLayout.cshtml";
    ViewData["CanonicalUrl"] = "/haberler";
}
    <div class="errorpage">
        <h1>PageNotFound</h1>
        <h1>404</h1>
    </div>

