@model NewsUI.Models.ResponseNewsModel
@{
    ViewData["Title"] = "Index";
    ViewData["CanonicalUrl"] = "/haberler";
    Layout = "~/Views/Shared/_newsAmpLayout.cshtml";
}


<div class="row">
    @foreach (var item in Model.Data)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <a href="haber-@item.Id" class="btn btn-primary">Detay</a>
            </div>
        </div>
    }
</div>



