@model NewsUI.Models.ResponseNewsDetailModel
@{
    ViewData["Title"] = Model!=null?Model.Data.Title:"Haberler";
    Layout = "~/Views/Shared/_newsLayout.cshtml";
}

    <div class="row">
        @if (Model.Data != null)
        {
        <div class="jumbotron">
            <h1 class="display-4">@Model.Data.Title</h1>
            <hr class="my-4">
            <p>@Html.Raw(Model.Data.Text)</p>
            <p class="lead">
                @Model.Data.StartDate
            </p>
        </div>
        <div class="tab-content"></div>
        <h6>@Model.Data.Id</h6>
    }

    </div>


