@model NewsUI.Models.ResponseNewsDetailModel
@{
    ViewData["Title"] = "GetNewsDetails";
    Layout = "~/Views/Shared/_newsLayout.cshtml";
}
@if (Model.IsSuccess)
{
    <div class="row">
        <div class="col-md-12">
            @if (Model.Data != null)
            {
                <h1>@Model.Data.Title</h1>
                <p>@Html.Raw(Model.Data.Text)</p>
                <h5>@Model.Data.StartDate</h5>
                <h6>@Model.Data.Id</h6>
            }
        </div>
    </div>
}

