@model NewsUI.Models.ResponseNewsModel
@{
    ViewData["Title"] = "Haberler";
    Layout = "~/Views/Shared/_newsLayout.cshtml";
}


<div class="row" style="margin-top:20px;">
    @foreach (var item in Model.Data)
    {
        <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <a href="haber-@item.Id" class="btn btn-primary">Detay</a>
                </div>
            </div>
        </div>
    }
</div>


